.card {
    width: auto;
    height: auto;
    transition: 0.3s;
    box-shadow: 8px 4px 4px 4px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.title {
    font-family: sans-serif;
    font-size: 20px;

}


